[submodule "jni/system_properties"]
	path = jni/system_properties
	url = https://github.com/feicong/system_properties.git
[submodule "jni/nanopb"]
	path = jni/nanopb
	url = https://github.com/nanopb/nanopb
